<template>
    <v-footer class="pa-4" style="background: transparent;">
        <!-- <div>Developped by <a href="https://valentinlegal.fr">Valentin Le Gal</a> with ☕️ & ❤️</div>
        <v-spacer></v-spacer>
        <div>Credits : <a href="https://cantunsee.space/">Can't Unsee</a></div> -->

        <v-row class="text-center grey--text">
            <v-col cols="12" class="py-0">
                <small>Official website : <a href="https://cantunsee.space/" target="_blank">Can't Unsee</a> — This clone was developed by <a href="https://www.valentinlegal.fr" target="_blank">Valentin Le Gal</a> with ☕️ & ❤️</small>
            </v-col>
            <v-col cols="12" class="py-0">
                <small>View the source code of this website on <a href="https://gitlab.com/ValentinLeGal/cantunsee-clone" target="_blank">GitLab</a>!</small>
            </v-col>
        </v-row>
    </v-footer>
</template>


<script>
export default {
    name: 'Footer'
};
</script>


<style scoped>
a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
</style>